.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.searchbar_container > input:focus {
  outline-color: white;
  outline-width: 0.1px;
}

.searchbar_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: gray;
  cursor: pointer;
}
